package-lock.json
node_modules
*.sqlite-journal
.*.txt

output/**/*.sqlite
output/**/*.schema
output/**/*.json
output/**/*.bson
output/**/*.sql
output/**/*.ts
resources/master
resources/story
/test*
/temp*

should-parse-to-db.ts
